<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Calibre Web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">
    <link href="../../static/css/bootstrap-theme.css" rel="stylesheet">
    <link href="../../static/css/front.css" rel="stylesheet">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../../static/js/bootstrap.js"></script>
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Calibre Web</h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href="#">Search</a></li>
                <li><a href="#">Browse</a></li>
                <li><a href="#">Bookmarks</a></li>
              </ul>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Search</h1>
            <p class="lead">Search ### books by part of its name, author or ISBN</p>
            <form class="form-horizontal" role="form">
              <div class="input-group">
                <input class="form-control input-lg" type="text" name="searchtext" placeholder="eg: Crime and Punishment OR Dostovosky">
                <div class="input-group-btn">
                  <button type="submit" class="btn btn-lg btn-primary">Search</button>
                </div>
              </div>
            </form>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>(C) 2014 <a href="http://blog.purinda.com">Purinda Gunasekara</a></p>
            </div>
          </div>

        </div>

      </div>

    </div>
  </body>

</html>
